//Created by zhaofeng on 16/6/7.

link(href="/Users/zhaofeng/Library/nodeJsLibrary/bower_components/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
script(src="/Users/zhaofeng/Library/nodeJsLibrary/bower_components/jquery/dist/jquery.min.js")
script(src="/Users/zhaofeng/Library/nodeJsLibrary/bower_components/bootstrap/dist/js/bootstrap.min.js")
