//Created by zhaofeng on 16/6/7.

extends ../layout

block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 标题
                        th 查看
                tbody
                    each item in news
                        tr(class="item-id-#{item._id}")
                            td #{item.title}
                            td: a(target="_blank", href="www.baidu.com") 查看